######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Gradle
######################
**/.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

######################
# Logs
######################
*.log

######################
# Others
######################
*.class